node_modules
**/node_modules
.git
.gitignore
.next
**/.next
dist
**/dist
*.md
.env
.env.*
!.env.example
coverage
.turbo
**/.DS_Store
**/npm-debug.log*
.cursor
**/*.test.ts
**/*.spec.ts
